@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2? family= Wix+Madefor+Text & display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Wix Madefor Text','Roboto',sans-serif;
    box-sizing: content-box;
    background: #000;
}

.contenedor_header{

    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor_header .navegation a{
margin-left: 20px;
color: #fff;
font-weight: 600;
text-decoration: none;
}

.contenedor_header .login {
    width: 100px;
    border-radius: 7px;
    text-align: center;
}
.contenedor_header .login a{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}
.contenedor_header>a{
    text-decoration: none;
    color: #fff;
}
.contenedor_header .logo{
    width: 150px;
    display: flex;
    align-items: center;
}
.contenedor_header .logo h1{
    font-size: 20px;
    margin-left: 10px;
}

.contenedor_header .logo img{
    width: 50%;
}
#buttonbtn{
    margin-left: 100px;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

.contenedor_header #buttonbtn:hover{
    background-color: #e4e4e4;
    color:#000;
    transition: all ease-in-out .5s;
}

.contenedor_header .navegation a:hover{
    color: #f05d07;
    transition: all ease-in-out .3s;
}

/* ############################### section ######################## */

section{
    display: flex;
    margin: 50px 50px 100px 115px  ;
}
section h2{
    font-size: 50px;
    font-weight: 900;
    color: #aaaaaa;
}

section p {
    margin-top: 20px;
    color: gray;
}

/* ############################# footer ##################################### */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 30vh;
}
.wrapper{
    margin-top: 100px;
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
}
.contenedor{
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0 ;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
}
i{
    color: gray;
    font-size: 2.5em;
    text-align: center;
}

.numero{
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
 .text{
    color: white;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0 ;
    font-weight: 400;
    line-height: 0;
}

@media screen and (max-width:1024px){
    .wrapper{
        width: 85vw;
    }
    .contenedor{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}
@media screen and (max-width:700px){
    .wrapper{
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }
    .contenedor{
        height: 26vmin;
        width: calc(50% -40px);
        font-size: 14px;
    }
}

@media screen and (max-width:480px){
    .wrapper{
        gap: 15px;
    }
    .contenedor{
        height: 25vmin;
        width: 100%;
        font-size: 8px;
    }
}
footer {
    margin-top: 100px;
    position: relative; 
    bottom: 0;
    width: 100%;
    background-color:#000000;
    padding: 50px 0 20px 0 ;
    display: flex;
    justify-content: space-evenly;   
}

.redes{
    text-align: center;
}


.redes h4{
    margin: 10px 0 ;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.redes i{
    margin-left: 20px;
    color: #fff;
    font-size: 20px;
}

.enlaces{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.enlaces h3{
    margin: 10px 0 ;
    
    font-weight: 700;
    color: #fff;
}

.enlaces a{
    text-decoration: none;
    color: #808080;
    margin: 5px 0 ;
}

.enlaces a:hover{
    color: #f05d07;
    transition: all ease-in-out .3s;

}

.redes i:hover{
    color: #f05d07;
    transition: all ease-in-out .3s;
}

.contacto{
    color: #fff;
    text-align: center;
}
.contacto h3{
    margin: 10px 0 ;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.contacto .correo{
    display: flex;
    color: #808080;
    font-size: 20px;
    font-weight: 600;
    align-items: center
}

.contacto .correo i{
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
}

/* ##################################################formadores######################################################## */
.info_p{
    border: 1px solid #000;
}

.info_p h1{
    font-weight: 900;
    font-size: 40px;
    color: rgb(189, 189, 189);
}

.info_p p {
    margin: 30px 0;
    text-align: center;
}
.foto_f{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.foto_f .formador{
    background-color: rgb(30, 30, 30);
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
}

.formador img{
    display: block;
    width: 300px;
}

.text_formador{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 280px;
    position: absolute;
    bottom: 0;
      background-color:rgb(61, 61, 61);
      color: #fff;
      padding: 10px;
      font-size: 16px;
}